{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% if user.is_authenticated %}
    <ul>
      <li>
        <a href="create">Crear Tarea</a>
      </li>
    </ul>
    {% endif %}
    <h1>Tasks</h1>
    <ul>
      <!-- Recorre el objeto QuerySet declarado en views def tasks(request) para cada tarea y condiciona el comportamiento de los atributos de las
      tareas -->
      {% for task in tasks %}
      <li>
        <a href="{% url 'task_detail' task.id %}">
          {% if task.important %}
          <h5>
            <strong>
              {{task.title}}
              <span style="font-size: smaller"> / important</span>
            </strong>
          </h5>
          {% else %}
          <h5>{{task.title}}</h5>
          {% endif %}
          <p>{{task.description}}</p>
          <p>
            <span>Author: </span>{{task.user.username}}
            <span>/ creada el {{ task.created }}</span>
          </p>
          <p></p>
        </a>
      </li>
      {% endfor %}
    </ul>
    <!-- Este es el codigo para observar el query set <p>{{ tasks }}</p> -->
  </body>
</html>
{% endblock %}
